Unity/projet_annuel/Library/*
Unity/projet_annuel/obj/*
Unity/projet_annuel/Temp/*
*.idea/
C++_lib/Cours1ML-280317-FirstDll/Cours1ML-280317-FirstDll/x64/*
C++_lib/Cours1ML-280317-FirstDll/x64/*
C++_lib/Cours1ML-280317-FirstDll/Cours1ML-280317-FirstDll/Release/
C++_lib/Cours1ML-280317-FirstDll/Cours1ML-280317-FirstDll/cmake-build-debug/
C++_lib/Cours1ML-280317-FirstDll/Release/
C++_lib/Dll-Machine-Learning/Eigen/
C++_lib/Dll-Machine-Learning/x64/
C++_lib/Dll-Machine-Learning/Debug/
C++_lib/Cours1ML-280317-FirstDll/Cours1ML-280317-FirstDll/Eigen/*
*.meta
C++_lib/Dll-Machine-Learning/.vs/
C++_lib/Dll-Machine-Learning/Dll-Machine-Learning.vcxproj.user
